


* { 
    font-size: 16px;
	font-family: "0xProto Nerd Font Mono", mono;
    min-height: 30px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}
#workspaces button.active {
    border-bottom: 3px solid #ff2400;
}
#workspaces button:hover {
    background: #131313;
    border: 1px solid #ff2400;
}


#clock,
#pipewire,
#battery,
#tray {
	padding: 0 10px;
}
